{% extends "homepage.html" %}

{% block title %}Adicionar um Espetáculo{% endblock %}
<body>
    <h1>Adicionar um Espetáculo</h1>
    {% block form %}
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        
        {{form.coverImage()}}
        
        {{ form.name.label() }}
        {{ form.name() }}
        
        {{ form.synopsis.label() }}
        {{ form.synopsis() }}
        
        {{ form.date.label() }}
        {{ form.date() }}
        
        {{ form.submitButton() }}
        
        
        
    </form>
    {% endblock %}
</body>